.headerButton__white
    background: #E5E5E5
    color: #000
    margin-right: 20px
    border: 1px solid black
    transition: all 0.3s ease
    padding: 14px 0px
    font-weight: 700
    font-size: 16px
    line-height: 21px
    border-radius: 30px
    cursor: pointer
    width: 150px
    &:hover
        background: #ADADAD
        transition: all 0.3s ease

@media (max-width: 822.98px)
    .headerButton__white
        border: 1px solid red
